<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>
<title>Charge Products</title>
<link rel="stylesheet" href="/css/productos/form-style.css">

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    </main>
    <!-- conectar el formulario al controller -->
    <form action="/productos/create" method="POST" class="main-form" enctype="multipart/form-data">
        </div class="form">
        <h3 id="titulo">Formulario de carga del producto</h3>
        <div class="main-input">
            <label for="nombre">Nombre del Producto</label>
            <input type="text" name="nombre" id="nombre">
            <div class="descuento">
                <label for="descuento">Descuento</label>
                <input type="number" name="descuento" id="descuento" cols="30" rows=""/>
            </div>
            <div class="btn">
                <p>Ingrese una imagen</p>
                <input type="file" name="imagen" class="imagen" />
            </div>
        </div>
        <h3 id="titulo">Categoria</h3>
        <select name="clase">
            <option value="1">Electrodomesticos</option>
            <option value="2">Lavado</option>
            <option value="3">Tv y audio</option>
            <option value="4">Congeladores</option>
            <option value="5">Celular</option>
            <option value="6">Nootebook</option>
            <option value="7">Componente</option>
            <option value="8">Tablet</option>
        </select>
        </div>
        <div class="precio">
            <label for="precio">Precio</label>
            <input type="number" name="precio" id="precio">
            <div>
                <% if (locals.errors) {%>
                    <% errors.forEach(error => { %>
                        <p><%= error.msg %></p>
                    <% }) %>    
                <% } %>
            </div>
            <input type="submit" name="boton" value="Enviar" id="boton">
        </div>
    </form>
    <main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
</body>

</html>