<%- include('../partials/head') %>
<title>Ver Imagen</title>
<body>
    <% if (productDetail) {%>
        <img src="/images/productos/<%= productDetail.iamgen %>" alt="Imagen">
    <% }else if (productDetail == null || productDetail == undefined) {%>
        <h1><%= error %></h1>
    <% } %>
</body>