body {
    background: url('/images/fondo.jpg') no-repeat center top fixed;
    background-size: cover;
    font-family: Arial;
}

.form {
    border-radius: 5px;
    width: 60%;
    margin-top: 35px;
    padding: 5%;
    margin-left: 13%;
    background-color: rgb(26, 26, 26);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
label {
    justify-content: flex-start;
    align-items: start;
    font-size: 25px;
    margin: 20px;
}

input {
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    padding: 5px;
}
input:focus {
    transition: all 0.2s linear;
    color: whitesmoke;
    background-color: rgb(82, 79, 79);
}
h3 {
    text-align: center;
    position: relative;
    bottom: 0.5rem;
    font-size: 33px;
    color: whitesmoke;
}
textarea {
    text-align: center;
    font-size: 20px;
    outline: none;
}
textarea:focus {
    transition: all 0.3s linear;
    background-color: rgb(82, 79, 79);
    color: whitesmoke;
}
.form select option {
    background-color: gray;
    color: whitesmoke;
}
.form select {
    text-align: center;
    outline: none;
    padding: 8px;
    font-size: 15px;
}
.form select:hover {
    transition: all 0.3s linear;
    background-color: rgb(82, 79, 79);
    color: whitesmoke;
}
#boton {
    padding: 10px;
    transition: all 0.3s linear;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
}
#boton:hover {
    background-color: rgb(82, 79, 79);
    color: whitesmoke;
}
.btn {
    margin-top: 35px;
    margin-bottom: 30px;
    position: relative;
    left: 35%;
    color: whitesmoke;
    border-radius: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 3px;
    width: 30%;
    border: dashed 2px rgb(54, 53, 53);    
}
.btn input[type="file"]{
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 0;
    left: 2%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;   
}
@media (max-width:720px){
    .btn {
        left: 6rem;
        width: 50%;
    }   
    .precio input {
        margin-bottom: 2px;
    }   
    input {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    textarea {
        font-size: 15px;
        padding-bottom: 20px;
    }
}