@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.articulos,
.ofertas {
  text-align: center;
}
.articulos h3 {
  font-size: 24px;
  text-align: left;
  margin-left: 0.6rem;
}
.ofertas h3 {
  font-size: 30px;
}
.articulos h4,
.ofertas h4 {
  font-size: 18xp;
}
main {
  text-align: center;
  width: 90%;
  margin: 10px auto 0 auto;
  background-color: rgb(26, 26, 26);
}
h2 {
  text-align: center;
  margin: 10px 10px 0 70px;
  font-size: 30px;
}
.producto {
  padding: 15px;
  background-color: rgb(66, 66, 66);
  margin-top: 10px;
  color: whitesmoke;
}
#envio {
  color: #39b54a;
}
.producto h4,
p {
  font-size: 20px;
}

.main-footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-section {
  margin-bottom: 1.5rem;
}

.footer-section h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-social-icons {
  display: flex;
  column-gap: 1rem;
  margin-top: 1.5rem;
}

.footer-social-icons a {
  color: #fff;
  font-size: 1.5rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00acee;
}
.fa-instagram {
  color: #5851db;
}
.contorno:hover {
  color: rgb(201, 201, 201);
}
.producto:hover {
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.descripcion {
  cursor: pointer;
}
.producto img {
  width: 80%;
}
.articulos,
.ofertas {
  flex-wrap: wrap;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-around;
}

main input {
  width: 100%;
  margin: 14px 0 6px 0;
  border-bottom: 1px solid rgb(255, 255, 255);
  border: none;
  height: 40px;
  background: rgb(42, 40, 40);
  color: rgb(255, 255, 255);
  font-size: 12px;
  border-radius: 15px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
}

#boton_agregar {
  width: 50%;
}

[type="submit"]:hover {
  background-color: rgb(42, 40, 40);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(3, 233, 244), 0 0 10px rgb(3, 233, 244),
    0 0 20px rgb(3, 233, 244), 0 0 5px rgb(3, 233, 244);
  cursor: pointer;
}

@media (min-width: 720px) {
  .producto {
    width: 15rem;
  }
  .producto img {
    width: 100%;
  }
  article {
    width: 50%;
    height: 30%;
    float: left;
    margin: 10px 0 10px 0;
  }
  h4 {
    display: block;
    text-align: left;
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  article {
    width: 25%;
    height: 30%;
    float: left;
  }
}
