body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: url("/images/fondo.jpg") no-repeat center top;
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}
.login h3 {
  text-align: center;
}
.login {
  border-radius: 2%;
  width: 320px;
  height: 420px;
  background: rgb(25, 25, 25);
  color: rgb(255, 255, 255);
  left: 38%;
  margin-top: 40px;
  position: relative;
  box-sizing: border-box;
  padding: 30px 30px;
}
.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login input {
  width: 100%;
  margin-bottom: 25px;
}
.login input[type="text"],
.login input[type="password"] {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: transparent;
  height: 40px;
  color: rgb(245, 245, 245);
  font-size: 16px;
}

.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: rgb(42, 40, 40);
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 8px;
  letter-spacing: 2px;
}
[type="submit"]:hover {
  background-color: rgb(42, 40, 40);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(3, 233, 244), 0 0 10px rgb(3, 233, 244),
    0 0 20px rgb(3, 233, 244), 0 0 5px rgb(3, 233, 244);
  cursor: pointer;
}
.Bajo_formulario {
  display: flex;
  justify-content: space-between;
}
