<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading and Charge</title>
    <link rel="stylesheet" href="/css/edicion-productos.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img src="/images/Logo_StarTech.svg" height="70px">
        <nav>
            <a href="">Inicio</a>
            <a href="">Nosotros</a>
            <a href="">Contacto</a>    
        </nav>
    </header>
    <main>
        <div class="titulo">
            <h3>Sus Productos</h3>
        </div>
        <form action="">
            <div class="producto">
                <img src="/images/img-cafetera-moulinex.jpg" height="150px">
                <p>Cafetera Moulinex</p>
                <p>$300 US</p>
                <p>Envio Gratis</p>
                <div class="botones">
                    <input type="button" value="+">
                    <span>1</span>
                    <input type="button" value="-">
                </div>
            </div>
        </form>
    </main>
</body>
</html>