<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/images/logo.svg" alt="">
        <nav>
            <a href="/home">Inicio</a>
            <a href="">Nosotros</a>
            <a href="">Contacto</a>
        </nav>
    </header>
    <main>
        <div class="login">                
            <form action="" method="post">
                <h3>Login</h3>
                <!-- Username  -->
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username">
                <!-- Password -->
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password">
                <!-- Boton -->
                <input type="submit" value="Enviar">
                <a href="">Has perdido tu contraseña?</a>
                <a href="/register">No tienes cuenta?</a>
            </form>
        </div>
    </main>
</body>
</html>