<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">w
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <header>
        <img src="/img/logo.svg" alt="">
        <nav>
            <a class="fa-solid fa-house" href="">Home</a>
            <a href="">Acount</a>
            <a href="">Nosotros</a>
        </nav>

    </header>
    <main>
        <div class="register">
            <form action="" method="post">
                <h3>Registrarse</h3>
                <label for="Usuario">Nombre de Usuario</label>
                <input type="text" name="Usuario" id="name">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
                <label for="confirmed-pass">Confirmar Contraseña</label>
                <input type="password" name="confirmed-pass" id="confirmed-pass">
                <input type="submit" value="ENVIAR">
                <a href="">Olvidaste tu Contraseña?</a>
                <a href="/login">Ingresar</a>
            </form>
        </div>
    </main>
</body>
</html>