<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="/css/detalle-producto.css">
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e6313bd8bc.js" crossorigin="anonymous"></script>
</head>
<body>


    <%- include('./partials/header') %>

    <main>
        <div class="">         
            <img src="/images/Celular-Motorola.jpg" id="producto">
            <div class="descripcion">
                <h3>Nombre del producto</h3>
                <span class="fa-solid fa-dollar-sign"></span>
                <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Nesciunt veniam iste
                accusantium ea ipsum illo molestias officiis </p>
                <h3 id="detalles">Detalles del producto</h3>
                <p id="parrafo">
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Nesciunt veniam iste
                accusantium ea ipsum illo molestias officiis
                </p>
            </div> 
            <h3 id="similares">Productos similares</h3>
            <div class="productos-similares">
                <img src="/images/Celular-Samsung.jpg">
                <div class="descripcion-producto">
                    <p>Celular Samsung A03</p>
                    <p>$600 US</p>
                    <p>Envio Gratis</p>
                </div>
            </div>
            <div class="reseñas">
                <h3 id="reseñas">Opiniones y reseñas</h3>
                <h3 id="comentarios">Comentarios</h3>
                <div class="comentarios">
                    <span class="fa-solid fa-user user"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta vero iste harum blanditiis consequatur placeat, qui sunt beatae delectus. Adipisci mollitia autem in velit rem officiis dignissimos ut voluptatum maiores.</p>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>  

</body>
</html>