<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form-edit.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/star.ico">
    <script src="https://kit.fontawesome.com/e6313bd8bc.js" crossorigin="anonymous"></script>
    <title>Formulario de Edicion</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <form action="" method="post">
            <div class="form">
                <h3>Formulario de Edicion</h3>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre">
                <label for="descripcion">Descripcion</label>
                <textarea></textarea>
                <div class="btn">
                    <p >Ingrese una imagen</p>
                    <input type="file" name="archivo" class="archivo"/>
                </div>
                <h3>Categoria</h3>
                <select>
                    <option>Electrodomesticos</option>
                    <option>Tegnologia</option>
                    <option>Tv y audio</option>
                </select>
                <h3>Precio</h3>
                <input type="number" name="precio" id="precio">
                <input type="button" name="submit" value="Enviar" id="boton">
            </div>         
        </form>    
        
    </main>
    <%- include('./partials/footer') %>
</body>
</html>