<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Products</title>
    <link rel="shortcut icon" href="/images/star.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<body>
    <header>
        <%- include('./partials/header.ejs') %>
    </header>
    </main>
        <form action="" method="post">
            </div class="form">
                <h3>Formulario de carga del producto</h3>
                <div class="main-input">
                    <label for="nombre">Nombre del Producto</label>
                    <input type="text" name="nombre" id="nombre">
                    <label for="descripcion">Descripcion</label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="">
                    </textarea>
                    <div class="btn">
                        <p >Ingrese una imagen</p>
                        <input type="file" name="archivo" class="archivo"/>
                    </div>
                </div>
                <h3 id="categoria">Categoria</h3>
                <select name="categoria">    
                    <option value="">Electrodomesticos</option>   
                    <option value="">Lavado</option>
                    <option value="">Tv y audio</option>
                    <option value="">Congeladores</option>
                </select>
            </div>
            <div class="precio">                
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio">
            </div>
        </form>
    <main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>
</html>