<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style_home.css" />
  <script src="https://kit.fontawesome.com/e6313bd8bc.js" crossorigin="anonymous"></script>
  <title> Startech </title>
</head>

<body>

  <header class="main-header">
    <div class="main-header-top-bar">
      <img src="/images/logo_StarTech.svg" class="logo" onclick="location.href='/'">
      <form class="formulary" action="#" method="POST">
        <div class="inputdebarra">
          <input class="contenedor_barra_de_busqueda" type="search" placeholder="Buscar productos, marcas" />
          <span class="fa-solid fa-magnifying-glass sombra"></span>
        </div>
      </form>
      <span class="fa-solid fa-user contorno" onclick="location.href='/login'"></span>
      <span class="fa-solid fa-cart-shopping contorno" onclick="location.href='/carrito'"> </span>
    </div>
    <nav>
      <ul class="main-navbar">
      <li><a href="#" class="contorno">Ofertas </a></li>
      <li><a href="#" class="contorno">Informática y Móviles</a></li>
      <li><a href="#" class="contorno">Congeladores </a></li>
      <li><a href="#" class="contorno">Lavado y secado </a></li>
      <li><a href="#" class="contorno">Lavavajillas </a></li>
      <li><a href="#" class="contorno">Electrodomésticos </a></li>
      <li><a href="#" class="contorno">Tv y Audio</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Basado en su ultima visita</h2>
    <section class="articulos">
      <div class="cafetera">
        <div class="producto">
          <img src="/images/Celular-Motorola.jpg" alt="Imagen de Motorola">
          <div class="descripcion" onclick="location.href='/detalles'">
            <h4 class="nombre_producto">Celular Motorola</h4>
            <p id="precios"></span>$129.999</p>
            <p id="descuentos">13% OFF</p>
            <p id="envio">Envio Gratis</p>
          </div>
        </div>
      </div>
      <div class="computadora">
        <div class="producto">
          <img src="/images/Celular-Samsung.jpg" alt="Imagen de Samgung">
          <div class="descripcion" onclick="location.href='/detalles'">
            <h4 class="nombre_producto">Celular Samgung</h4>
            <p id="precios"></span>$49.999</p>
            <p id="descuentos">10% OFF</p>
            <p id="envio">Envio Gratis</p>
          </div>
        </div>
      </div>
      <div class="telefono">
        <div class="producto">
          <img src="/images/Notebook-Asus.jpg" alt="Imagen de Notebook Asus">
          <div class="descripcion" onclick="location.href='/detalles'">
            <h4 class="nombre_producto">Notebook Asus</h4>
            <p id="precios"></span>$180.777</p>
            <p id="descuentos">13% OFF</p>
            <p id="envio">Envio Gratis</p>
          </div>
        </div>
      </div>
      <div class="televisor">
        <div class="producto">
          <img src="/images/Notebook-Noblex.jpg" alt="Imagen de Notebook Noblex">
          <div class="descripcion" onclick="location.href='/detalles'">
            <h4 class="nombre_producto">Notebook Noblex</h4>
            <p id="precios"></span>$148.000</p>
            <p id="descuentos">30% OFF</p>
            <p id="envio">Envio Gratis</p>
          </div>
        </div>
      </div>
    </section>
    <h2>Ofertas destacadas</h2>
    <section class="ofertas">
      <div class="producto">
        <img src="/images/Placa-Video.jpg" alt="Imagen de Placa de Video">
        <div class="descripcion" onclick="location.href='/detalles'">
          <h4 class="nombre_producto">Placa de Video</h4>
          <p id="precios"></span>$120.000</p>
          <p id="descuentos">39% OFF</p>
          <p id="envio">Envio Gratis</p>
        </div>
      </div>
      <div class="producto">
        <img src="/images/Smart-TV-LED.jpg" alt="Imagen de Smart TV">
        <div class="descripcion" onclick="location.href='/detalles'">
          <h4 class="nombre_producto">Smart TV LED</h4>
          <p id="precios"></span>$270.000</p>
          <p id="descuentos">27% OFF</p>
          <p id="envio">Envio Gratis</p>
        </div>
      </div>
      <div class="producto">
        <img src="/images/Smart-TV.jpg" alt="Imagen de smart TV">
        <div class="descripcion" onclick="location.href='/detalles'">
          <h4 class="nombre_producto">smart TV Samsung</h4>
          <p id="precios"></span>$99.999</p>
          <p id="descuentos">%15 OFF</p>
          <p id="envio">Envio Gratis</p>
        </div>
      </div>
      <div class="producto">
        <img src="/images/Tablet-Lenovo.jpg" alt="Imagen de cafetera">
        <div class="descripcion" onclick="location.href='/detalles'">
          <h4 class="nombre_producto">Tablet Lenovo</h4>
          <p id="precios"></span>$78.976</p>
          <p id="descuentos">15$ OFF</p>
          <p id="envio">Envio Gratis</p>
        </div>
      </div>
    </section>
  </main>
<footer class="main-footer">
  <div class="footer-section">
    <h4>Navegación</h4>
    <ul>
    <nav class="navegacion">
      <li><a href="/" class="contorno">Home </a></li>
      <li><a href="detalles" class="contorno">detalles de producto</a></li>
      <li><a href="login" class="contorno">Ingresar</a></li>
      <li><a href="register" class="contorno">Registrarse </a></li>
      <li><a href="carrito" class="contorno">Carrito de compras </a></li>
      </ul>
  </div>
  <div class="footer-section">
    <h4>Información de contacto</h4>
    <ul>
      <li>Dirección: Av San Martin 789</li>
      <li>Teléfono: 2964-478901</li>
      <li>Correo electrónico: StarTech@gmail.com</li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Síguenos en redes sociales</h4>
    <div class="footer-social-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
    </div>
    <div class="footer-section">
  </div>
</footer>
</body>

</html>