<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
</head>
<body>
    <h1>Error 404 - Página no encontrada</h1>
    <p>Lo siento, la página que buscas no se ha encontrado. Por favor, comprueba que la dirección URL esté escrita correctamente.</p>
</body>
</html>



