<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="shortcut icon" href="/images/logo.ico">
</head>
<body>
    <div class="titulo">
        <h1>Error 404</h1>
    </div>
    <p>Lo siento, la página que buscas no se ha encontrado. Por favor, comprueba que la dirección URL esté escrita correctamente.</p>
    <style>
        body {
            background-color: #ECE4E4;
        }
        .titulo{  
            color: rgba(236, 62, 62,0.7);
            font-family: Arial;      
            position: relative;
            font-size: 50px;
            top: 7rem;
            text-align: center;
        }

        p {
            position: relative;
            top: 5rem;
            font-family: Arial;
            font-size: 20px;
            text-align: center;
        }
    </style>
</body>
</html>



