@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
html{
  width: 100%;
}
body{
  margin: 0;
  background-color: rgb(0, 0, 0);
  width: 98%;
}
.carrito-compras {
    width: 100%;
    margin: 50px 0; 
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0px;
    display: flex; 
    font-family: Roboto;
    background-color: rgb(0, 0, 0);
  }
  .productos {
    width: 63%; 
    padding: 20px;
    border: 1px solid rgb(51, 0, 255);;  
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.362);
    border-radius: 10px;
    color: white;
  }
  img {
    width: 140px;
    height: 130px; 
    margin-right: 10px; 
    border-radius: 10px;
  }
  .producto {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(51, 0, 255);
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: Roboto;
    margin-right: 12%;
    color: white;
    }
    h2{
      border-bottom: 1px solid rgb(51, 0, 255);
    }
    .info-producto {
    flex-basis: 90%;
    font-family: Roboto;
    }
    .lista-productos {
        margin-bottom: 80px;
        font-family: Roboto;
        }
.contador{
  flex-basis: 90%;
}
.num{
  font-size: 20px;
  
}
.incremento, .decremento{
  color: white;
}
.contador button {
  background-color: rgb(51, 0, 255);;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}
.cart-summary{
  background-color: rgb(0, 0, 0);
  height: 50%;
  width: 27%;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgb(51, 0, 255);;
  margin-top: 20px;
  color: white;
}
.fa-trash-can {
  color: rgb(51, 0, 255);
  cursor: pointer;
}
.cart-summary button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(51, 0, 255);;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}
nav {
  width: 102%;
  height: 80px;
  background-color: rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 0px;
}
#logo {
  width: 130px;
  height: 130px;
  margin-left: 15px;
  padding-top: 1px;
}
@media (max-width: 768px) {
  .carrito-compras {
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
  }
  .productos {
    width: 100%; 
    padding: 10px;
    border: none;  
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@media (max-width: 360px) {
  .carrito-compras {
    width: 100%;
    margin: 5% 0;
    padding: 5% 2%;
    display: block;
    font-family: Roboto;
    background-color: rgb(0, 0, 0);
  }
  .productos {
    width: 100%; 
    padding: 10px;
    border: 1px solid rgb(51, 0, 255);;  
    font-family: Roboto;
    background-color: rgba(0, 0, 0, 0.362);
    border-radius: 10px;
    color: rgb(255, 255, 255);
  }
}
