body {
  background: url("/images/fondo.jpg") no-repeat center top;
  background-size: cover;
  font-family: Arial;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 12px;
  height: 90%;
}
body::-webkit-scrollbar-track {
  background: rgb(26, 26, 26);
}
body::-webkit-scrollbar-thumb {
  border: 2px solid rgb(26, 26, 26);
  background-color: whitesmoke;
  border-radius: 20px;
}
a {
  color: whitesmoke;
  text-decoration: none;
}

.main {
  border-radius: 15px;
  padding: 5%;
  margin: 5% 5% 2% 5%;
  background-color: rgb(29, 29, 29);
}
.main img {
  height: 26rem;
  width: 26rem;
  max-width: 100%;
  border-radius: 5px;
}
.descripcion {
  max-height: 100%;
  color: whitesmoke;
  border-radius: 15px;
  background-color: rgb(16, 16, 16);
  padding: 6% 4% 5%;
  display: flex;
  justify-content: space-between;
}
h3 {
  color: whitesmoke;
}
.descripcion-producto {
  width: 50%;
}
.descripcion-producto #titulo{
  font-size: 30px;
}
.descripcion-producto #precio {
  text-align: end;
  font-size: 20px;
}
.descripcion-producto #clase {
  font-size: 40px;
}
.boton {
  width: 30%;
  left: 50%;
  top: 45rem;
  position: absolute;
}
.boton input {
  background: rgb(42, 40, 40);
  color: whitesmoke;
  padding: 3%;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.boton input:hover {
  transition: linear 0.3s;
  box-shadow: 0 5px 15px 5px  rgba(255, 253, 253, 0.3)
}

#similares {
  padding: 1%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
  background-color: rgb(16, 16, 16);
}

.productos-similares {
  max-height: 100%;
  color: whitesmoke;
  border-radius: 15px;
  background-color: rgb(16, 16, 16);
  padding: 6% 4% 5%;
  display: flex;
  justify-content: space-between;
}
.productos-similares #titulo{
  font-size: 30px;
}
.productos-similares #precio {
  text-align: end;
  font-size: 20px;
}
.productos-similares #clase {
  font-size: 40px;
}
.descripcion-productos {
  width: 50%;
  font-size: 20px;
}
.ver-producto {
  width: 30%;
  left: 50%;
  top: 85rem;
  position: absolute;
}
.ver-producto input {
  background: rgb(42, 40, 40);
  color: whitesmoke;
  padding: 3%;
  border-radius: 5px;
  border: none;
  width: 100%;
}
.ver-producto input:hover {
  transition: linear 0.3s;
  box-shadow: 0 5px 15px 5px  rgba(255, 253, 253, 0.3)
}