<footer class="main-footer" id="footer">
  <div class="footer-section">
    <h4>Navegación</h4>
    <ul>
      <nav class="navegacion">
        <li><a href="/" class="contorno">Home </a></li>
        <li><a href="/productos/detalles" class="contorno">detalles de producto</a></li>
        <li><a href="/usuarios/login" class="contorno">Ingresar</a></li>
        <li><a href="/usuarios/register" class="contorno">Registrarse </a></li>
        <li><a href="/productos/carrito" class="contorno">Carrito de compras </a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Información de contacto</h4>
    <ul>
      <li>Dirección: Av San Martin 789</li>
      <li>Teléfono: 2964-478901</li>
      <li>Correo electrónico: StarTech@gmail.com</li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Síguenos en redes sociales</h4>
    <div class="footer-social-icons">
      <a href="#"><span class="fab fa-facebook"></span></a>
      <a href="#"><span class="fab fa-twitter"></span></a>
      <a href="#"><span class="fab fa-instagram"></span></a>
      <a href="#"><span class="fab fa-google"></span></a>
    </div>
</footer>

    <style>
      .main-footer {
        background-color: #1a1a1a;
        color: #fff;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
      }

      .footer-section {
        margin-bottom: 1.5rem;
      }

      .footer-section h4 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      .footer-section ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      .footer-section ul li {
        margin-bottom: 0.5rem;
      }

      .footer-social-icons {
        display: flex;
        column-gap: 1rem;
        margin-top: 1.5rem;
      }

      .footer-social-icons a {
        color: #fff;
        font-size: 1.5rem;
      }

      .fa-facebook {
        color: #3b5998;
      }

      .fa-twitter {
        color: #00acee;
      }

      .fa-instagram {
        color: #5851db;
      }

      .contorno:hover {
        color: rgb(201, 201, 201);
      }
    </style>
</footer>