<footer class="main-footer" id="footer">
    <div class="footer-section">
      <h4>Navegación</h4>
      <ul>
      <nav class="navegacion">
        <li><a href="/" class="contorno">Home </a></li>
        <li><a href="detalles" class="contorno">detalles de producto</a></li>
        <li><a href="login" class="contorno">Ingresar</a></li>
        <li><a href="register" class="contorno">Registrarse </a></li>
        <li><a href="carrito" class="contorno">Carrito de compras </a></li>
        </ul>
    </div>
    <div class="footer-section">
      <h4>Información de contacto</h4>
      <ul>
        <li>Dirección: Av San Martin 789</li>
        <li>Teléfono: 2964-478901</li>
        <li>Correo electrónico: StarTech@gmail.com</li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Síguenos en redes sociales</h4>
      <div class="footer-social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </div>
      <div class="footer-section">
    </div>
  </footer>