<header class="main-header">
    <div class="main-header-top-bar">
      <img src="/images/logo_StarTech.svg" class="logo" onclick="location.href='/'">
      <form class="formulary" action="#" method="POST">
        <div class="inputdebarra">
          <input class="contenedor_barra_de_busqueda" type="search" placeholder="Buscar productos, marcas" />
          <span class="fa-solid fa-magnifying-glass sombra"></span>
        </div>
      </form>
      <span class="fa-solid fa-user contorno" onclick="location.href='/login'"></span>
      <span class="fa-solid fa-cart-shopping contorno" onclick="location.href='/carrito'"> </span>
    </div>
    <nav>
      <ul class="main-navbar">
      <li><a href="#ofertas" class="contorno">Ofertas </a></li>
      <li><a href="#articulos" class="contorno">Articulos</a></li>
      <li><a href="#" class="contorno">Congeladores </a></li>
      <li><a href="#" class="contorno">Lavado y secado </a></li>
      <li><a href="#" class="contorno">Lavavajillas </a></li>
      <li><a href="#" class="contorno">Electrodomésticos </a></li>
      <li><a href="#" class="contorno">Tv y Audio</a></li>
      </ul>
    </nav>
  </header>