<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Error 404 - Página no encontrada</title>
        <link rel="stylesheet" href="/css/main/error_404.css">
</head>

<body>
    <div class="titulo">
        <h1>Error 404</h1>
    </div>
    <p>Lo siento, la página que buscas no se ha encontrado. Por favor, comprueba que la dirección URL esté escrita
        correctamente.</p>
</body>
</html>