<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="css/login.css">
        <title>Login</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <div class="login">
                <form action="" method="post">
                    <h3>Login</h3>
                    <!-- Username  -->
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username">
                    <!-- Password -->
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <!-- Boton -->
                    <input type="submit" value="Enviar">
                    <a href="">Has perdido tu contraseña?</a>
                    <a href="/register">No tienes cuenta?</a>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>