<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="/css/users/login.css">
        <title>Login</title>
</head>

<body>

    <%- include('../partials/header') %>

        <main>
            <div class="login">
                <form action="" method="post">
                    <h3>Login</h3>
                    <!-- Username  -->
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username">
                    <% if (locals.errors && errors.name) { %>
                        <p class="feedback"><%= errors.name %></p>
                   <% } %>
                    <!-- Password -->
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="<% locals.old && old.email %>">
                    <!-- Checkbox recordarme -->
                    <label for="remind">Recordar usuario</label>
                    <input type="checkbox" name="remind">
                    <!-- Boton -->
                    <input type="submit" value="Ingresar">
                    <div class="Bajo_formulario">
                        <a href="/usuarios/newPassword">Olvido su Contraseña?</a>
                        <a href="/usuarios/register">registrar</a>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

</body>

</html>